body{
		margin:0 0;
		padding:0 0;
		background:url(home.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		backgroung-position: center;
		font-family: sans-serif;
}
.home{	width:1369px;
	height:696px;
}

.nav{	position:absolute;
	top:-1%;
	left:47%;
}

.nav ul{ 
	list-style:none;
	}

.nav ul li{
	color:#fff;
	list-style:none;
	padding:10px 50px;
	color:#fff;
	font-family:Raleway;
	display:inline-block;
	}
.active{
	color:#fff;
	background:#e02626;
	border-radius:4px;
}
.heart{
	position:absolute;
	top: 70px;
	left: 95px;
	width:200px;
	height:170px;
	margin:175px;
	opacity:.8;
}	
	.heart:before,.heart:after {
	position: absolute;
	content: "";
	width: 100px;
	height:160px;
	background :red;
	border-radius:50px 50px 0 0;
}
.heart:before{
	left:100px;
	-webkit-transform-rotate(-45deg);
	transform:rotate(-45deg);
	-webkit-transform-origin:0 100%;
	transform:origin:0 100%;
	
}
.heart:after{
	left:30px;
	top:-70px;
	-webkit-transform-rotate(45deg);
	transform:rotate(45deg);
	-webkit-transform-origin:0 100%;
	transform:origin:100% 100%;


}

.header h1 {
	
	font-family:"Matura MT Script Capitals";
	font-size: 120px;
	color:black;
	position:absolute;
	top:10%;
	left:8%;
	transform:(-50%, -50%);
	opacity:.6;
}
.header h5 {
	
	font-family:"Matura MT Script Capitals";
	font-size: 120px;
	color:white;
	position:absolute;
	top:30%;
	left:42%;
	transform:(-50%, -50%);
	opacity:.8;
}
a{
	text-decoration:none;
	color:white;
}
.container{width:100%; height:100%; position:absolute;}

.container{
	background-image: url('home.jpg');
	background-image: url('snow1.png'), url('snow2.png'), url('snow3.png');	
	animation: snow 20s linear infinite;
}

@keyframes snow {
 0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px}
}



